In [2]:
import pandas as pd
import datetime

START = '9/1/2022'
END = '3/31/2023'

In [3]:
df= pd.DataFrame(pd.date_range(START,END,freq="H"),columns=['Datetime'])

df['Day'] = df["Datetime"].dt.day
df['Day'] = df['Day'].apply(lambda x: '{0:0>2}'.format(x))

df['Month'] = df["Datetime"].dt.month
df['Month'] = df['Month'].apply(lambda x: '{0:0>2}'.format(x))

df['Year'] = df["Datetime"].dt.year 

df['Hour'] = df["Datetime"].dt.hour
df['Hour'] = df['Hour'].apply(lambda x: '{0:0>2}'.format(x))

df['DateKey'] = df['Year'].astype(str) + df['Month'].astype(str) + df['Day'].astype(str) + df['Hour'].astype(str)
df = df.astype({'DateKey':'int64'})

df = df.reindex(columns=['DateKey','Datetime','Year','Month','Day','Hour'])

df

         DateKey            Datetime  Year Month Day Hour
0     2022090100 2022-09-01 00:00:00  2022    09  01   00
1     2022090101 2022-09-01 01:00:00  2022    09  01   01
2     2022090102 2022-09-01 02:00:00  2022    09  01   02
3     2022090103 2022-09-01 03:00:00  2022    09  01   03
4     2022090104 2022-09-01 04:00:00  2022    09  01   04
...          ...                 ...   ...   ...  ..  ...
5060  2023033020 2023-03-30 20:00:00  2023    03  30   20
5061  2023033021 2023-03-30 21:00:00  2023    03  30   21
5062  2023033022 2023-03-30 22:00:00  2023    03  30   22
5063  2023033023 2023-03-30 23:00:00  2023    03  30   23
5064  2023033100 2023-03-31 00:00:00  2023    03  31   00

[5065 rows x 6 columns]